
<script>
    $(function () {
        $("#datepicker").datepicker();
    });
</script>




<body>
    <div data-ng-controller="patientController">
        <h3>@Html.ActionLink("View List of Patients", "GetAllPatients", "Home")</h3>

        <br /><br />

        <form name="patientForm" ng-submit="save(patientForm)" novalidate>
            <div class="form-group">
                First name: <input type="text" name="fname" ng-model="patient.FirstName" required ng-pattern="/^[A-z]+$/"><br>


                {{ fnameError }}
                {{ fError }}

            </div>
         

            <div class="form-group">
            Last name: <input type="text" ng-model="patient.LastName" name="lname" required ng-pattern="/^[A-z]+$/"><br>
                {{ lnameError }}
            </div>

            
            <div class="form-group">
                <p>Date: <input type="text" id="datepicker" name="DateOfBirth" ng-model="DateOfBirth"></p>

            </div>
            <div class="form-group">
                {{ gendermsg }}
                <select ng-model="patient.Gender" ng-options="gender for gender in genders" required name="gender">
                    <option value="">-- Select  --</option>
                </select>
            </div>

            <div class="form-group">
                {{ countrymsg }}
                <select name="country" data-ng-model="patient.Country" data-ng-options="c.CountryId as c.CountryName for c in countries" data-ng-change="GetStates(patient.Country)" required>
                    <option value="">-- Select Country --</option>
                </select>
            </div>

            <div class="form-group">
                {{ statemsg }}
               
                <select name="state"data-ng-model="patient.state" data-ng-disabled="!states" data-ng-options="s.StateId as s.StateName for s in states" required>
                    <option value="">-- Select State --</option>
                </select>
            </div>
            <div class="form-control-static">
                <input type="submit" value="Submit" />
            </div>
        </form>
        {{ dateerror }}

    </div>
















    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css">

</body>